<div id="settings" class="meta" style="padding: 24px">
	<h2 class="heading">Servd Asset Platform</h2>
	<a href="{{ actionUrl('servd-asset-storage/assets-platform/clear-cache', {'elementUid': elementUid}) }}" class="btn submit">Clear Servd CDN Cache</a>
</div>
