<div id="settings" class="meta" style="padding: 24px">
	<h2 class="heading">Servd Static Cache</h2>
	<a href="{{ url('servd-asset-storage/static-cache/purge-cache', {'entryId': entryId}) }}" class="btn submit">Purge Entry URL</a>
</div>
